/**********************
site nav
************************/
.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #FFF;
	padding: 10px 20px;
	background-color: #365267;
	transition-property: color, background-color;
	transition-duration: 2s;
	text-decoration: none;
}
.active {
    a {
      font-weight: bold;
      color: #ffffff;
      background: darken(#FF0040, 20%);
    }
  }
.site-nav a:hover {
	background-color: #c7ddee;
	transition-property: color;
	transition-duration: 2s;
}
.site-header {
  background: #c7ddee;
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
/**********************
end site nav
************************/
.box-a {
	background-color: #c7ddee;
	padding: 20px 20px 0 20px;
	border: 2px solid #c7ddee;
	margin-bottom: 30px;
	box-shadow: 2px 10px 5px #000;
	border-radius: 10px;
}
/**********************
@MEDIA SIZES
************************/
@media screen and (max-width: 767px) {
	.box-a {
		margin-bottom: 15px;
	}
	.banner-description {
		display: none;
	}
	.site-header {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.site-nav {
		width: 100%;
		}
	.logo {
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
@media screen and  (max-width: 700px) {
	.site-nav li {
		width: 33.332%;
		margin-right: 0;
	}
	.banner-description {
		display: none;
	}
	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		border: 3px solid #c7ddee;
		text-align: center;
	}
}	
@media screen and  (max-width: 480px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
	}
	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		border: 3px solid #c7ddee;
		text-align: center;
	}
	.banner-description {
		display: none;
	}
	.sidebar {
		box-shadow: none;
	}
}	
/**********************
Visual body
************************/
html {
	background-color: #c7ddee;
	line-height: 1.7;
}
body {
	font-family:  'Open Sans', Sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	background-color: #f4f4e8;
	background-image: url(images/hands.jpeg);
	background-size: contain;
}
/**********************
Fonts
************************/
.main-area h2 {
	font-size: 200%;
	font-weight: normal;
}
.main-area p {
	font-size: 108%;
}
.section {
	padding-left: 40px;
	padding-right: 40px;
}
img {
	max-width: 100%;
	height: auto;
	border: 3px solid #f44242;
	box-sizing: border-box;
	overflow: hidden;
}
img:hover {
	transform: scale(1.5);
	-webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
	transition: 2s ease-in-out;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
header {
	padding-top: 24px;
	color: #000;
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #c7ddee;
}
header h1 {
	margin: 0;
	font-weight: normal;
}
header p {
	margin: 0;
	border-radius: 10px;
}
/**********************
this section controls the column areas in the body
************************/
.content-area {
	border-top: 3px solid #c7ddee;
	border-bottom: 3px solid #c7ddee;
	background-color: #fff;
	background-image: url(images/alphabet.jpg);

}
.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	padding-left: 40px;
	box-sizing: border-box;
	background-color: #fff;
}

.sidebar {
	width: 34%;
	float: left;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 85%;
	background-image: linear-gradient(to bottom, #c7ddee, #fff);
	box-shadow: 2px 10px 5px #000;
		overflow: hidden;

}
/*UI MENU*/
.ui-menu ul {
	margin: 0;
	padding: 0;
}
.ui-menu li {
	float: left;
	list-style: none;
	margin-right: 30px;
}
.ui-menu a {
	display: block;
	width: 100px;
	height: 85px;
	background-image: url(images/social-icons-5.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
}
.ui-home a {
	background-position: 0px, 0px;
}
.ui-about a {
	background-position: -124px, 0px;
}
.ui-port a {
	background-position: -316px, 0px;
}

.ui-contact a {
	background-position: -416px, 0px;
}

/*end UI MENU*/
/**********************
Table styling
***********************/
table {
	padding-top: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}
table th {
	text-align: left;
	background-color: #c7ddee;
	color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0,0,0, 0.4)
}
table th,
table td {
	border: 1px solid #c7ddee;
	padding: 10px;
	vertical-align: top;
}

table tbody tr:nth-child(odd) td{
	background-color: #c7ddee;
}
.col-fighter {
	width: 60%;
}
.col-level {
	width: 20%;
}
.col-score {
	width: 20%;
}
table tr :nth-child(2),
table tr :nth-child(3) {
	text-align: center;
}
/**********************
banner overlay
***********************/
.image-banner {
	position: relative;
	overflow: hidden;
}
.image-banner img {
	display: block;
}
.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	padding: 15px 25px;
	transition-property: all;
	transition-duration: 4s;
	transform: translateY(100%);
}
.image-banner:hover .banner-description {
	transform: translateY(0);
}
/**********************
this helps the parent element clear its floated children
************************/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
/**********************
STYLING FORMS
***********************/
form {
	background-color: #ececec;
	padding: 30px 40px;
	border-radius: 10px;
}
.hidden-label {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}

input,
select {
	font-family: tahoma, Sans-serif;
	font-size: 100%;
}
input[type="email"],
input[type="name"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
	height: 40px;
	margin-bottom: 15px;
	border: 1px solid #cdcdcd;
	outline: none;
}

input[type="email"]:focus,
input[type="name"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
	border: 1px solid #c7ddee;
	box-shadow: inset 2px 2px rgba(0, 0, 0, 0.13);
}
input[type="submit"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #c7ddee;
	color: #fff;
	padding: 10px 0;
	border: 1px solid #c7ddee;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: none;
	border-radius: 10px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	border: 1px solid #c7ddee;
	background-color: #c7ddee;
}
.checkbox-text {
	font-size: 85%;
	color: #000;
}
/**********************
END STYLING FORMS
***********************/
/**********************
MEDIA QUERIES
***********************/
@media screen and  (max-width: 700px) {
	.main-area,
	.sidebar {
		width: auto;
		float: none;
		box-shadow: none;
	}
	.main-area {
		padding-right: 10px;
    	padding-left: 10px;	
    }
	.ui-menu {
		display: none;
	}
	.port p {
		display: none;
	}
	footer a {
		font-size: 18px;
	}
	h2 {
	font-size: 200%;
	font-weight: normal;
	text-align: center;
}
}
@media screen and (max-width: 480px){
	.container {
		padding-left: 20px;
		padding-right: 20px;		
	}
	.content-area {
		padding-top: 20px;
	}
	header h1 {
		font-size: 30px;
		text-align: center;
	}
	.main-area h2 {
		font-size: 16px;
		text-align: center;
	}
	.port p {
		display: none;
	}
	.port img {
		width: 30%;
	}
	.sidebar {
		box-shadow: none;
	}
	h2 {
		margin: auto;
	}	
	footer a {
		font-size: 18px;
	}
	.section {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 1300px){
	body {
		font-size: 18px;
	}

	.container {
		max-width: 1200px;
	}
}
.row {
	margin-right: -20px;
}
/**********************
FOOTER
************************/
footer {
	font-size: 85%;
	color: #000;
	padding: 40px;
	background-color: #c7ddee;
	width: 100%;
}
.foot-nav {
	margin: 0 auto;
}
footer ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
    font-weight: bold;      
    width: 80%; 
}
footer li {
	list-style: none;
	float: right;
	margin: 0 auto;
}
footer a {
	display: block;
	color: #000;
	padding: 10px 20px;
	background-color: #c7ddee;
	text-decoration: none;
}
footer p {
	display: block;
	color: #000;
	padding: 20px 20px;
	background-color: #c7ddee;
	text-decoration: none;
	margin: 0 auto;
}

footer a:hover {
	background-color: #2c465a;
}
.highlight {
	margin: 0 auto;
}
/**********************
PORTFOLIO
************************/
.port {
	box-sizing: border-box;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: #fff; 
	float: left;
	display: block;
	box-sizing: border-box;
	box-shadow: 2px 5px 5px #000;
	border-radius: 10px;
}
.profile-img {
	width: 15%;
	float: left;
	box-sizing: border-box;
	border:none;
	background-color: #c7ddee; 
	border-radius: 10px;
	transform: rotate(-15deg);
}
.port table {
	float: right;
	padding-top: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 60%;
	margin-top: 0px;
	background-color: #fff; 
	padding-top: 20px;
	border-radius: 10px;
}
.port table th,
.port table td {
	vertical-align: top;
}
.port p {
	width: 60%;
	float: right;
	background-color: #fff;
}
.port .email {
	width: 100%;
	text-align: center;
	display: block;
	box-sizing: border-box;
	background-color: #c7ddee;
	color: #fff;
	padding: 10px 0;
	border: 1px solid #c7ddee;
	border-radius: 3px;
	outline: none;
	float: right;
	margin-top: 10px;
	border-radius: 10px;
}
.email a {
	text-decoration: none;
	color: #fff;
}
.email a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #2c465a;
}
.header{
	background-color:  #c7ddee;
	padding: 20px;
	box-sizing: border-box;
}
h2 {
	font-size: 200%;
	font-weight: normal;
}
/**********************
PORTFOLIO
************************/
.contact-main-area {
	width: 100%;
	float: left;
	box-sizing: border-box;
	background-color: #fff;
	padding-left: 10px;
    padding-right: 10px;

}
/**********************
TESTIMONIAL
************************/
.test-1 {
	font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #fff;
    float: left;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 5px red;
}
.test-1 img {
	width: 30%;
	float: left;
	border: none;
}
.test-1 p {
	width: 65%;
	float: right;
	padding: 10px;
	box-sizing: border-box;
}